<div class="jumbotron text-center">
  <h1>Welcome to IGAS!</h1>
  <p class="lead">Welcome to a Dapp portal, for you to make transaction in games fast, secure and without cuts. </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 borderbox">
    <h3>EOS Blockchain</h3>
    <p>Begining of the Blockchain 3.0 era.</p>
  </div>
  <div class="col-md-4 borderbox">
    <h3>Open API For Developers</h3>
    <p>We are providing a simple yet powerful api that enables developers to empower their games with blockchain technology. </p>
  </div>
  <div class="col-md-4 borderbox">
    <h3>FREE</h3>
    <p>Compeletely free to try.</p>
  </div>
</div>
